/*
Estilos generales del sitio
 */
header{
	background-color: #336BFF; 
	height: 50px;
	padding-left: 30px;
}

h3, h4{
	text-align: center;
}

li{
	float:left;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	margin-top: 10px;
	list-style: none;
}
.nav{
	text-decoration: none;
	color:#FFF;
}
.nav:hover{
	text-decoration: underline;
	color: #F7EB77;
}

section{
	float: left;
}
footer{
	height: 80px;
	background-color: #336BFF;
	float: left;
	width: 100%;
	margin-top:50px;
}
input{
	width: 100%;
	height: 30px;
}
form{
	width: 60%;
	text-align: center;
}

label{
	text-align: left;
	display: block;
	
}

select{
	width:100%;
}

.button{
	background-color: #F7AE77;
	border: 0;
	width: 120px;
	height: 30px;
	color:#fff;
	font-size: 16px;
	font-weight: bold;
}
.img{
	text-align: center;
}
.video{
	text-align: center;
}
.text-blog{
	margin: 20px;
	text-align: justify;
}
.text-footer{
	text-align: center;
	margin-top: 30px;
	color: #fff;
}
.titulo-blog{
	font-weight: bold;
	text-align: center;
}
.widget{
	float: left;
	width: 80%;
	background-color: #81AEE9;
	margin-left: 20px;
}
.nav-widget{
	color: #035153;
	text-decoration: none;
}
.nav-widget:hover{
	color:#fff;
	text-decoration: underline;
}
.enlaces{
	float: left;
	width: 100%;
	padding-top:10px;
	padding-bottom: 10px;
	text-align: center;
}
.img-rss{
	border: 0px;
	margin: 10px 5px 10px 5px;
	width: 20px;
}

